.cjenikCard {
  background-color: #fff;
  padding: clamp(1.25rem, 5vw, 2.5rem) clamp(1rem, 5vw, 2rem);
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  gap: clamp(1rem, 5vw, 2rem);
  border: 1px solid #eaecf0;
  box-shadow: rgba(16, 24, 40, 0.08) 0 16px 12px;
  border-radius: 1rem;
}
.cjenikCardTop {
  display: flex;
  flex-direction: column;
}

.cjenikCardTopData {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 1.25rem;
}
.cjenikCardTopDataCategory {
  color: #1565d8;
  font-size: 1.25rem;
  font-family: var(--ff-inter-semi-bold-600);
  line-height: 29px;
}
.cjenikCardTopDataSavings {
  background-color: #f3be23;
  padding: 0 0.625em;
  border-radius: 0.5em;
  color: #785900;
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 29px;
}
.cjenikCardTopPrice {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-start: 0.5rem;
}
.cjenikCardTopPriceBig {
  padding: 0 !important;
  line-height: 1;
  font-size: clamp(1.5rem, 12vw, 2.7rem);
  font-family: var(--ff-inter-semi-bold-600);
  color: #1a1d1e;
}
.cjenikCardTopPriceSmall {
  font-size: clamp(1rem, 5vw, 1.5rem);
  text-decoration: line-through;
  color: #858597;
}

.cjenikCard ul {
  display: grid;
  gap: 1rem;
}
.cjenikCard ul li {
  display: flex;
  gap: 0.75rem;
  color: #858597;
  font-size: 1rem;
  align-items: start;
}
.cjenikCardIcon {
  width: 1.5rem;
  aspect-ratio: 1;
}
.cjenikCardListElement {
  line-height: 1.4;
}
.cjenikCard button {
  background-color: #19bb70 !important;
  display: grid !important;
  place-content: center !important;
  padding: 0.625em 1.3125em !important;
  outline: 2px solid #19bb70;
  border: 0 !important;
  border-radius: 0.75em !important;
  color: #fff !important;
  font-size: 1rem !important;
  margin-top: auto;
  font-family: var(--ff-inter-medium-500);
  width: 100%;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}
.cjenikCard button:hover {
  background-color: #fff !important;
  outline: 2px solid #222132 !important;
  color: #222132 !important;
  transition: all 0.15s ease-in-out;
}
.cjenikCardSmallParagraph {
  font-size: 0.75rem !important;
  padding: 0 !important;
  line-height: 1.5;
  color: #858597;
}

@media (max-width: 1440px) {
  .cjenikCardTopDataCategory,
  .cjenikCardTopDataSavings {
    line-height: 24px;
  }
}
@media (max-width: 1199px) {
  .cjenikCardTopDataCategory,
  .cjenikCardTopDataSavings {
    line-height: 22px;
  }
}
@media (max-width: 767px) {
  .cjenikCardTopDataCategory {
    line-height: 1;
  }
  .cjenikCardTopDataSavings {
    line-height: 20px;
  }
}
@media (max-width: 660px) {
  .cjenikCardTopPrice {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 412px) {
  .cjenikCardTopDataSavings {
    padding: 0.3em 0.625em;
  }
}
