.cjenik {
  width: 100%;
  position: relative;
}

.cjenikContainer {
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
/* CJENIK KONTAKT FORM  ************************************************************************************ */
.cjenikForm {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 33, 50, 0.5);
  display: grid;
  place-items: center;
}

.cjenikFormWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: min(62rem, 100vw);
  height: 80vh;
  background-color: white;
  margin: auto;
  position: relative;
  border-radius: 1rem;
  overflow-y: auto;
}

.cjenikFormClose {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  background-color: white;
  border: none;
  outline: none;
  font-size: 2rem;
  aspect-ratio: 1;
  cursor: pointer;
}

.cjenikFormImgDiv {
  position: relative;
  width: 100%;
  height: 100%;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  overflow: hidden;
}
.cjenikFormImg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cjenikFormFormaDiv {
  display: grid;
  place-items: center;
  padding: clamp(1.5rem, 2vw, 3rem) clamp(1.5rem, 8vw, 2.5rem);
}

.cjenikFormFormaDiv h3 {
  font-family: var(--ff-inter-bold-700);
  color: #222132;
  font-size: clamp(1.25rem, 5vw, 1.875rem);
  line-height: 1.2;
}
.cjenikFormFormaDiv p {
  font-size: 0.875rem;
  padding-bottom: 0;
  line-height: 1;
  margin-block-start: 0.875rem;
  color: #858597;
}
.cjenikFormForma {
  display: flex;
  flex-direction: column;
  vertical-align: inherit;
  gap: 10px;
  width: 100%;
}
.cjenikFormForma div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cjenikFormForma div label {
  font-size: 0.75rem;
  font-family: var(--ff-inter-medium-500);
  color: #858597;
  line-height: 29px;
}
.cjenikFormForma div input,
.cjenikFormForma div textarea {
  height: clamp(2.75rem, 8vw, 3.125rem);
  font-size: 0.875rem;
  color: #606266;
  border: 1px solid #dadbdd;
  border-radius: 7px;
  font-family: -apple-system, "system-ui", Segoe UI, Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, Helvetica Neue, sans-serif;
  line-height: 1;
  padding: 11px 15px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.cjenikFormForma div input:focus,
.cjenikFormForma div textarea:focus {
  background-color: #fff;
  border-color: #1a7efb;
  color: #606266;
  outline: none;
}

.cjenikFormForma div textarea::placeholder {
  font-size: 0.875rem;
}
.cjenikFormForma div textarea {
  resize: none;
  min-height: 90px;
  overflow: hidden;
}

.cjenikFormFormaBtn {
  margin-block-start: 1.875rem;
  background-color: #19bb70 !important;
  display: grid !important;
  place-content: center !important;
  padding: 0.625em 1.3125em !important;
  outline: 2px solid #19bb70;
  border: 0 !important;
  border-radius: 0.75em !important;
  color: #fff !important;
  font-size: 1rem !important;
  margin-top: auto;
  font-family: var(--ff-inter-medium-500);
  width: 100%;
  text-align: center;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
.cjenikFormFormaBtn:hover {
  background-color: #fff !important;
  outline: 2px solid #222132 !important;
  color: #222132 !important;
}

/* CJENIK HEADER ************************************************************************************ */
.cjenikHeaderTitle {
  margin-block-start: 40px;
  margin-block-end: 20px;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: clamp(1.25rem, 7vw, 2.18rem);
  color: #1a1d1e;
  line-height: 1.1;
  font-weight: 700;
}

.cjenikHeaderDescription {
  padding-bottom: clamp(1.875rem, 5vw, 3.125rem) !important;
  color: black;
  line-height: 29px;
}

/* CJENIK BUTTONS AND RANGE INPUT ******************************************************************** */
.cjenikPaketi {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-flow: column;
  gap: 1rem;
  padding-bottom: clamp(1rem, 5vw, 3rem);
}
.cjenikPaketiButtons {
  display: flex;
  background-color: #e9e9e9;
  border-radius: 8px;
  width: fit-content;
}
.cjenikPaketiButtonsBtn {
  background-color: #e9e9e9;
  color: rgb(34, 33, 50);
  border-radius: 8px;
  border-color: transparent;
  line-height: 1.8 !important;
  font-size: 1rem;
  outline: none;
  font-family: var(--ff-inter-medium-500);
  padding: 7px 37px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.cjenikPaketiButtonsBtnActive {
  border-radius: 8px;
  border-color: transparent;
  background: #1565d8;
  color: white;
  outline: none;
  font-family: var(--ff-inter-medium-500);
  line-height: 1.8 !important;
  transition: all 0.3s ease;
  font-size: 1rem;
  padding: 7px 37px;
  cursor: pointer;
}
.cjenikPaketiRange {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: clamp(1rem, 5vw, 3rem);
}
.cjenikPaketiRange p {
  flex-shrink: 0;
  padding-bottom: 0;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 1.25rem;
  line-height: 24px;
}

.cjenikPaketiRangeInput {
  width: 100%;
  min-width: 200px;
}

.cjenikPaketiRangeInputOglasi {
  width: 100%;
  background-color: rgb(238, 238, 238);
  accent-color: red;
  border-radius: 5px;
  height: 8px;
  -webkit-appearance: none;
  appearance: none;
}
.cjenikPaketiRangeInputPaketi {
  width: 100%;
  background-color: rgb(238, 238, 238);
  height: 8px;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  accent-color: blue;
  caret-color: blue;
}

/* CJENIK CARDS *************************************************************************************** */
.cjenikCards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(342px, 100%), 1fr));
  gap: clamp(1rem, 5vw, 3rem);
}

/* CJENIK BOXES ************************************************************************************ */
.cjenikBoxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(260px, 100%), 1fr));
  gap: clamp(1rem, 5vw, 3rem);
}
.cjenikBox,
.cjenikBoxFooter {
  padding: clamp(1.25rem, 5vw, 2rem);
  display: flex;
  gap: 1rem;
  align-items: center;
  box-shadow: rgba(16, 24, 40, 0.08) 0 16px 12px;
  border-radius: 1rem;
}
.cjenikBoxFooter {
  background-color: #1565d8;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: clamp(1rem, 5vw, 3rem);
  padding: 2rem;
  gap: clamp(1rem, 5vw, 3rem);
  color: white;
  margin-block-end: 100px;
}
.cjenikBoxContent {
  height: 100%;
  display: grid;
}
.cjenikBoxTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 1.25rem;
  color: #1565d8;
  line-height: 29px;
}
.cjenikBoxDesc {
  font-family: var(--ff-inter-regular-400);
  font-size: 1.125rem;
  margin-top: 0.5rem;
  padding-bottom: 1.5rem;
  color: #1a1d1e;
  line-height: 29px;
}
.cjenikBoxBtn {
  width: 100%;
  width: fit-content;
  background-color: #19bb70 !important;
  display: grid !important;
  place-content: center !important;
  padding: 0.625em 1.3125em !important;
  outline: 2px solid #19bb70;
  border: 0 !important;
  border-radius: 0.75em !important;
  color: #fff !important;
  font-size: 1rem !important;
  margin-top: auto;
  font-family: var(--ff-inter-medium-500);
  transition: all 0.15s ease-in-out;
  line-height: 29px;
  cursor: pointer;
}
.cjenikBoxBtn:hover {
  background-color: #fff !important;
  outline: 2px solid #222132 !important;
  color: #222132 !important;
  transition: all 0.15s ease-in-out;
}
.cjenikBox img {
  object-fit: cover;
  flex-shrink: 0;
}

/* CJENIK FOOTER ************************************************************************************ */
.cjenikBoxFooter .cjenikBoxTitle {
  color: white;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-family: var(--ff-inter-semi-bold-600);
  line-height: 1.1;
}
.cjenikBoxFooter .cjenikBoxDesc {
  color: white;
  font-size: 1.125rem;
  margin-block-start: 0px;
  padding-bottom: 1rem;
  font-family: var(--ff-inter-light-300);
}
.cjenikBoxFooter img {
  margin-left: auto;
  vertical-align: middle;
  align-self: flex-start;
}
.cjenikBoxContentSmallP {
  padding-bottom: 1rem;
  font-family: var(--ff-inter-light-300);
  font-size: 0.875rem;
  line-height: 29px;
}

/* BREAKPOINTS *************************************************************************************** */
@media (max-width: 1440px) {
  .cjenikHeaderDescription,
  .cjenikBoxTitle,
  .cjenikBoxDesc,
  .cjenikBoxBtn,
  .cjenikBoxContentSmallP,
  .cjenikFormForma div label {
    line-height: 24px;
  }
}
@media (max-width: 1290px) {
  .cjenikBoxFooter {
    margin-block-end: 80px;
  }
}
@media (max-width: 1199px) {
  .cjenikHeaderDescription,
  .cjenikBoxTitle,
  .cjenikBoxDesc,
  .cjenikBoxBtn,
  .cjenikBoxContentSmallP,
  .cjenikFormForma div label {
    line-height: 22px;
  }
  .cjenikFormWrapper {
    margin-inline: 45px;
  }
}
@media (max-width: 991px) {
  .cjenikPaketi {
    grid-template-columns: revert;
    grid-auto-flow: row;
  }
  .cjenikPaketiButtons {
    margin-block: 20px;
  }
  .cjenikPaketiRange {
    flex-direction: column;
    align-items: flex-start;
    gap: 3.25rem;
  }
  .cjenikBox {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cjenikBoxFooter {
    margin-block-end: 50px;
  }
  .cjenikFormWrapper {
    margin-inline: 15px;
  }
}
@media (max-width: 767px) {
  .cjenikHeaderTitle {
    margin-block-start: 20px;
  }
  .cjenikHeaderDescription,
  .cjenikBoxTitle,
  .cjenikBoxDesc,
  .cjenikBoxBtn,
  .cjenikBoxContentSmallP,
  .cjenikFormForma div label {
    line-height: 20px;
  }
  .cjenikFormImgDiv {
    display: none;
  }
  .cjenikFormWrapper {
    grid-template-columns: 1fr;
  }
  .cjenikFormFormaDiv {
    width: 100%;
    display: grid;
    padding: clamp(1.5rem, 2vw, 3rem) clamp(1.5rem, 8vw, 2.5rem);
  }
}

@media (max-width: 660px) {
  .cjenikBoxFooter {
    grid-template-columns: revert;
    grid-template-rows: repeat(2, min-content);
  }
  .cjenikBoxFooter img {
    grid-row: 1 / 2;
    margin: 0 auto;
  }
}
