.wrapper {
  width: 100%;
  color: rgb(34, 33, 50);
  padding-block-start: 20px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  font-family: var(--ff-inter-regular-400);
}

.politikaTitle {
  font-family: var(--ff-inter-bold-700);
  margin-block: clamp(1.2rem, 4vw, 1.7rem);
  font-size: 50px;
  line-height: 1;
}

.politikaDesc {
  padding-block-end: 45px;
  line-height: 25px;
  font-size: 17px;
}
.politikaDesc strong {
  font-family: var(--ff-inter-bold-700);
}
.politikaLink {
  color: #0c54ad;
  transition: all 200ms linear;
}
.politikaLink:hover {
  color: #1aa15f;
}

@media (max-width: 1600px) {
  .politikaTitle {
    font-size: 44px;
  }
}
@media (max-width: 1290px) {
  .politikaTitle {
    font-size: 40px;
  }
}
@media (max-width: 1199px) {
  .politikaTitle {
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .politikaTitle {
    font-size: 28px;
  }
}

@media (max-width: 505px) {
  .politikaDesc {
    padding-block-end: 35px;
  }
}
