.formTel {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  flex: 1;
}

.formTelSelector {
  position: relative;
}
.formTelCountry {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  padding-inline: 6px;
  height: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  caret-color: #606266;
  transition: all 200ms linear;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-color: rgba(25, 187, 112, 0.1);
  background-position: left 50% top 50%;
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  align-items: center;
}
.formTelCountry img {
  width: 20px;
  height: 15px;
  object-fit: contain;
}
.formTelCountry p {
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.isActiveCountry {
  background-color: rgba(25, 187, 112, 0.5) !important;
}
.formTelSelector input {
  padding-inline-start: 48px;
}

.countriesBox {
  position: fixed;
  inset: 25px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 1px solid #ccc;
  white-space: nowrap;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}
.hiddenCountriesBox {
  display: none;
}
.countryListElement {
  padding: 5px 10px;
  outline: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5;
}
.countryListElement img {
  width: 20px;
  height: 11px;
  object-fit: contain;
  margin-inline-end: 6px;
}
.countryListElement p {
  margin-inline-end: 6px;
}
.countryListElementName {
  color: rgb(34, 33, 50);
  font-size: 20px;
}
.countryListElementCode {
  color: #999;
  font-size: 20px;
}

.countryListElement {
  display: flex;
}
.countryListElement img {
  width: 50px;
  height: 50px;
}

@media (max-width: 767px) {
  .formTel {
    width: 100%;
  }
}
